

<!-- ==============================================
        ABOUT
        =============================================== -->
<section id="about" class="dark-bg light-typo padding-top-bottom">

    <div class="container">

        <header class="section-header text-center">

            <h1 class="scrollimation scale-in">About Me</h1>

        </header>

        <div class="row">

            <div class="col-sm-6">

                <img class="img-responsive img-left img-circle scrollimation fade-left" src="~/assets/photo.jpg" alt="" />

            </div>

            <div class="col-sm-6">
                <br /><br />
                <p class="text-center scrollimation fade-in">Hi, I am Ria Manglani.<br /><br />
                Creating is not just a job for me, it's a passion. 
                As one of the coordinators of the Robotics club at Summerfield Charter Academy, 
                I guide young minds in their creative process. </p>

            </div>


        </div>

    </div>

</section>
