

   
<!-- ==============================================
        HEADER
        =============================================== -->

<header id="home" class="jumbotron">
   <div class="container">

       <h1>Ria Manglani</h1>
       <p>Web Developer</p>
        <div class="row">
               <div class="col-sm-6 text-col">

                <h1>Ria Manglani</h1>
                <p>Web Developer</p>

            </div>

            <div class="col-sm-6">
                <div class="imac-frame">
                    <img class="img-responsive img-center" src="assets/imac.png" alt="" />
                    <div class="imac-screen flexslider">
                        <ul class="slides">
                            <li>
                                <img src="~/assets/butterflies3.png" alt="" />
                            </li>
                            <li>
                                <img src="~/assets/computer-hands.jpg" alt="" />
                            </li>
                            <li>
                                <img src="~/assets/officeicons.jpg" alt="" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>

</header><!--End header --> 

