
<!-- ==============================================
        PORTFOLIO
        =============================================== -->
<section id="portfolio" class="gray-bg padding-top-bottom">

    <div class="container">

        <header class="section-header text-center">

            <h1 class="scrollimation scale-in">My Works</h1>
            <p>These are some projects that I have worked on recently.</p>

        </header>

        <!--==== Portfolio Filters ====-->
        <div id="filter-works1">
            <ul>
                <li class="scrollimation fade-right d1">
                    <a href="@Url.Action("JSSamples", "Home")" data-filter="*">Javascript</a>
                </li>
                <li class="scrollimation fade-right">
                    <a href="#" data-filter="*">Bug Tracker</a>
                </li>
                <li class="scrollimation fade-left">
                    <a href="#" data-filter="*">Car Finder</a>
                </li>
                <li class="scrollimation fade-left d1">
                    <a href="#" data-filter="*">Financial Planner</a>
                </li>
            </ul>
        </div><!--End portfolio filters -->

    </div><!--End portfolio header -->
    
