

<section id="services" class="gray-bg padding-top-bottom">

    <div class="container">

        <header class="section-header text-center">

            <h1 class="scrollimation scale-in">What I Do</h1>
            

        </header>

        <div class="row services item scrollimation fade-up">

            <div class="col-md-4 col-sm-6 item1 scrollimation fade-up">
                <h2>My Qualifications<br /> </h2>
                <h4><ul>
                    <li>Master of Commerce, Business Management</li>
                    University of Mumbai, India<br /><br />
                    <li>Bachelor of Commerce, Financial Accounting</li>
                    University of Mumbai, India
                 </ul></h4>
                
            </div>

            <div class="col-md-4 col-sm-6 item1 scrollimation fade-up d1">
             
               <h2>My skills<br /> </h2>
                <h3><ul>              
                        <li>HTML5, CSS</li>
                        <li>Javascript, JQuery, Bootstrap</li>
                        <li>C#, ASP.NET, MVC</li>
                        <li>SQL Server</li>
                        <li>Angular JS</li>
                        <li>C, C++, Java</li>
                </ul></h3>
           </div>

            <div class="col-md-4 col-sm-6 item1 scrollimation fade-up d2">
                <h2>My Certifications<br /></h2>
                <h4><ul>
                        <li>Web Programming - Java 2001</li>
                        <li>MCSE 1999</li>
                        <li>Visual C++ 1997</li>
                        <li>Diploma in Software Management 1995</li>
                  </ul></h4>
                
            </div>

        </div>

    </div>

</section>